# A bot token is required for the bot to even work
BOT_TOKEN=

# You should leave this blank if you are not using statcord. If you are there has no testing been done to see it it works in non sharded more so use at your own risk
STATCORD_TOKEN=

# This token is required for the dscgg command to work. You can leave empty but make sure to delete the dscgg command or disable it. Otherwise you will get an error
DSCGG_TOKEN=
